.navigation-bar {
    color: white;
    text-decoration: none;
}
.content-with-background-color{
    background-color:#d36810;
    text-align: center;
    font-style: normal;
    font-size: large;
    font-weight: normal;
    border: rgb(11, 238, 98) 10px;
    padding: 200px 200px 200px 200px;
    color: rgb(255, 255, 255);
    opacity: .8;
    margin: 1px 1px 1px 1px ;

}
.navigation-bar-right{
    flex:1;
    transition: font-size 2s;
    background-color: white;
}

.navigation-bar {
    background-color:rgb(121, 125, 161);
    color: white;
    display: flex;
    flex-direction: column-reverse;
}